@model IQueryable<JoTicketPack>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Details";
}

<div>
    <h1>@HttpContextAccessor.HttpContext.Session.GetString("joSessionName")
        <img src="@Url.Content(@HttpContextAccessor.HttpContext.Session.GetString("joSessionImage"))" alt=@HttpContextAccessor.HttpContext.Session.GetString("joSessionImage") height="40" class="logoSport" />
    </h1>

    <h3 class ="mb-2">Place: @HttpContextAccessor.HttpContext.Session.GetString("joSessionPlace")</h3>
    <h3 class="mb-2">Date: @HttpContextAccessor.HttpContext.Session.GetString("joSessionDate")</h3>
    <p class="mb-2">@HttpContextAccessor.HttpContext.Session.GetString("joSessionDescription")</p>
    
    <div class="d-inline-flex m-3 container justify-content-center">
        <h1 class="fontBlue mansalva-regular me-3">Choose your pack!</h1>
    </div>

    <section class="">
        <div class="row m-2 d-inline-flex container justify-content-center">
            @foreach(var p in Model)
            {
                <div class="card border-1 mb-2" style="width: 18rem;">
                    <h3 class="card-title text-center">@p.JoTicketPackName</h3>
                    @if (@p.NbAttendees > 1)
                    {
                        <h6 class="text-center">For @p.NbAttendees persons</h6>
                    }
                    else
                    {
                        <h6 class="text-center">For @p.NbAttendees person</h6>
                    }
                    @if (@p.ReductionRate > 0)
                    {
                        var rate = Math.Ceiling(@p.ReductionRate * 100);
                        <h6 class="text-center">@rate% of reduction rate</h6>
                    }
                    else
                    {
                        <h6></h6>
                    }
                    <br/>
                    @{var price=Math.Round(Convert.ToDecimal(@HttpContextAccessor.HttpContext.Session.GetString("joSessionPrice")) * (1-@p.ReductionRate) * @p.NbAttendees, 2);
                    }
                    <h3 class="card-title text-center">@price €</h3>
                </div>
            }
            
        </div>
    </section>
</div>
<div>
@*     <a asp-action="Edit" asp-route-id="@Model?.JoSessionId">Edit</a> *@
    <a asp-action="Index">Back to List</a>
</div>
