@model JoSession
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Details";
}

<div>
    <h1>@HttpContextAccessor.HttpContext.Session.GetString("joSessionName")
        <img src="@Url.Content(@HttpContextAccessor.HttpContext.Session.GetString("joSessionImage"))" alt=@HttpContextAccessor.HttpContext.Session.GetString("joSessionImage") height="40" class="logoSport" />
    </h1>
    <hr />
    <h3 class ="mb-2">Place: @HttpContextAccessor.HttpContext.Session.GetString("joSessionPlace")</h3>
    <h3 class="mb-2">Date: @HttpContextAccessor.HttpContext.Session.GetString("joSessionDate")</h3>
    <p class="mb-2">@HttpContextAccessor.HttpContext.Session.GetString("joSessionDescription")</p>
    
    <div class="d-inline-flex m-3 container justify-content-center">
        <h1 class="fontBlue mansalva-regular me-3">Choose your pack!</h1>
    </div>

    <section class="d-inline-flex container justify-content-center">
        <div class="row m-2">
            @* @foreach(var s in Model) *@
            @* { *@
                <div class="card border-0" style="width: 18rem;">
                    <h5 class="card-title text-center">CYCLING</h5>
                    <img class="card-img-top img-fluid" src="~/images/VTT2.jpg" alt="Card image cycling">
                    <p class="card-text text-center">On road, on track, on mountain Freestyle for the spectacle or race for the challenge?</p>
                </div>
            @* } *@
            
        </div>
    </section>
</div>
<div>
@*     <a asp-action="Edit" asp-route-id="@Model?.JoSessionId">Edit</a> *@
    <a asp-action="Index">Back to List</a>
</div>
