@model IEnumerable<SiteWebJO2.Models.DisplayedJoTicketPack>

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-inline-flex mb-3 container justify-content-center">
    <h1 class="fontBlue mansalva-regular me-3">@ViewData["Title"]</h1>
</div>



<table class="table">
    <thead class="text-center text-light bgBlue">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JoTicketPackName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.NbAttendees)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ReductionRate)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.JoTicketPackStatus)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.NbPacksSold)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <b>@Html.DisplayFor(modelItem => item.JoTicketPackName)</b>
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.NbAttendees)
            </td>
            @if (item.ReductionRate > 0)
            {
                var rate = Math.Ceiling(item.ReductionRate * 100);
                <td class="text-center">@rate%</td>
            }
            else
            {
                <td class="text-center font-italic">No reduction</td>
            }
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.JoTicketPackStatus)
            </td>
            <td class="text-center">
                    @Html.DisplayFor(modelItem => item.NbPacksSold)
            </td>
            <td class="text-end">
                    <a  asp-action="Edit" asp-route-id="@item.JoTicketPackId">Change</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p class="text-end">
    <a  asp-action="Create">Add a pack</a>
</p>

<p class="text-end">
    <a class="btn btn-lg mb-3 mt-3 letsgoBtn" asp-area="" asp-controller="Admin" asp-action="CheckAccess">Check access to event</a>
</p>